# **IntroduÃ§Ã£o Ã  Linguagem Python - BÃ¡sico**

**Comando de Escrita - print()**

In [ ]:
variavel = "BRUNO"
print("Texto exibido na tela para o usuÃ¡rio " + variavel)
print("AnÃ¡lise de Algoritmos Ã© a melhor disciplina")
print("O palmeiras nÃ£o tÃªm mundial!")
print("Digite um nÃºmero inteiro positivo: ")

Texto exibido na tela para o usuÃ¡rio BRUNO
AnÃ¡lise de Algoritmos Ã© a melhor disciplina
O palmeiras nÃ£o tÃªm mundial!
Digite um nÃºmero inteiro positivo:

**Exemplo de vÃ¡riaveis**

In [ ]:
variavel = 12
variavel = 5.19
variavel = "Bruno"
variavel = ["MaÃ§a", "Uva", "Morango"]
variavel = True

#Exibindo o valor da variavel
print(variavel)

True

**Exemplo tipos de dados - ConversÃ£o**

In [ ]:
#Especificar tipo da variÃ¡vel
variavel = int(12)
variavel = float(5.19)
variavel = str("Bruno")
variavel = list(["MaÃ§a", "Uva", "Morango"])
variavel = bool(True)

#Exibindo o valor da variavel
print(variavel)

**Comando de Leitura - input**

In [ ]:
#Realizando a entrada de dado por parte do usuÃ¡rio
nome = input("Digite seu nome: ")

#Exibindo o dado inserido pelo usuÃ¡rio
print("OlÃ¡, seu nome Ã© " + nome)

Digite seu nome: Bruno
OlÃ¡, seu nome Ã© Bruno

In [ ]:
nome = input("Digite seu nome: ")
idade = input("Digite sua idade: ")
altura = float(input("Digite sua altura: "))
print("OlÃ¡, seu nome Ã© " + nome + ", possui " + idade + " anos e sua altura Ã© " + str(altura))
novaIdade = int(idade) + 1
print(novaIdade)

Digite seu nome: Bruno
Digite sua idade: 28
Digite sua altura: 1.76
OlÃ¡, seu nome Ã© Bruno, possui 28 anos e sua altura Ã© 1.76
29

**Comandos de AtribuiÃ§Ã£o**

In [ ]:
soma = 10
soma = soma + 22
soma = soma + 177
soma = soma + 53
soma = soma - 2
soma = soma * 2
soma = soma + 10

print("SOMA = " + str(soma))

SOMA = 530

**Exemplo Operadores Aritmeticos**

In [ ]:
a = int(input("Digite um nÃºmero a: "))
b = int(input("Digite um nÃºmero b: "))

resultado = a * b
print(str(a) + " * " + str(b) + " = " + str(resultado))
resultado = a / b
print(str(a) + " / " + str(b) + " = " + str(resultado))
resultado = a % b
print("Resto da divisÃ£o de " + str(a) + " por " + str(b) + " = " + str(resultado))
resultado = a ** b
print(str(a) + " elevado a " + str(b) + " = " + str(resultado))

Digite um nÃºmero a: 12
Digite um nÃºmero b: 7
12 * 7 = 84
12 / 7 = 1.7142857142857142
Resto da divisÃ£o de 12 por 7 = 5
12 elevado a 7 = 35831808

**EXEMPLO 1:** Construa um programa em Python, que dado uma temperatura em graus Fahrenheit, converta essa temperatura para graus Celsius, sabendo que: C=(ð¹ âˆ’32)âˆ—5/9

In [ ]:
fah = float(input("Digite uma temperatura em Fahrenheit: "))

#cel = (fah - 32.0) * (5.0 / 9.0)
print("A temperatura em graus celsius = " + str((fah - 32.0) * (5.0 / 9.0)))

Digite uma temperatura em Fahrenheit: -33
A temperatura em graus celsius = -36.111111111111114

**Comandos de SeleÃ§Ã£o**

**Exemplo 2:** Dado um nÃºmero inteiro positivo x, verifique se esse nÃºmero Ã© PAR ou ÃMPAR.

In [ ]:
x = int(input("Digite um nÃºmero inteiro: "))

if x % 2 == 0 :
    print("O nÃºmero Ã© PAR!")
    print("PARRRRR")
else :
    print("O nÃºmero Ã© ÃMPAR!")

Digite um nÃºmero inteiro: 2
O nÃºmero Ã© PAR!
PARRRRR

**Exemplo 3:** Dado um nÃºmero inteiros positivo (x), indique se ele pertence ao intervalo [0, 100].

In [3]:
x = int(input("Digite um nÃºmero inteiro positivo: "))

if x >= 0 and x <= 100:
    print(str(x) + " pertence ao intevalo!")
else:
    print(str(x) + " nÃ£o pertence ao intevalo!")

Digite um nÃºmero inteiro positivo: 100
100 pertence ao intevalo!

**Exemplo 4:** FaÃ§a um cÃ³digo em Python que, dado a nota da prova 1 (NP1) e a nota da prova 2 (NP2), calcule a mÃ©dia final (MF) de um aluno e indique se ele foi APROVADO ou REPROVADO, sabendo que:
* Mð¹=(ð‘ð‘ƒ1+ð‘ð‘ƒ2)/2
* Se MF >= 5,0 APROVADO,
* Se MF >= 3,0 E MF < 5,0 EXAME
* SenÃ£o REPROVADO

In [5]:
NP1 = float(input("Digite a nota da prova 1: "))
NP2 = float(input("Digite a nota da prova 2: "))

MF = (NP1 + NP2) / 2.0
if MF >= 5.0:
    print("APROVADO!")
elif MF >= 3.0 and MF < 5.0:
    print("EXAME!")
else:
    print("REPROVADO!")

Digite a nota da prova 1: 7.5
Digite a nota da prova 2: 8.5
APROVADO!

**Comados de RepetiÃ§Ã£o**

**Exemplo 5:** Dado um nÃºmero inteiro positivo n, imprimir os n primeiros nÃºmeros inteiros positivos.

In [7]:
n = int(input("Digite um nÃºmero inteiro: "))

numAtual = 1
while numAtual <= n:
    print(str(numAtual) + ", ")
    numAtual += 1

Digite um nÃºmero inteiro: 200
1,
2,
3,
4,
5,
6,
7,
8,
9,
10,
11,
12,
13,
14,
15,
16,
17,
18,
19,
20,
21,
22,
23,
24,
25,
26,
27,
28,
29,
30,
31,
32,
33,
34,
35,
36,
37,
38,
39,
40,
41,
42,
43,
44,
45,
46,
47,
48,
49,
50,
51,
52,
53,
54,
55,
56,
57,
58,
59,
60,
61,
62,
63,
64,
65,
66,
67,
68,
69,
70,
71,
72,
73,
74,
75,
76,
77,
78,
79,
80,
81,
82,
83,
84,
85,
86,
87,
88,
89,
90,
91,
92,
93,
94,
95,
96,
97,
98,
99,
100,
101,
102,
103,
104,
105,
106,
107,
108,
109,
110,
111,
112,
113,
114,
115,
116,
117,
118,
119,
120,
121,
122,
123,
124,
125,
126,
127,
128,
129,
130,
131,
132,
133,
134,
135,
136,
137,
138,
139,
140,
141,
142,
143,
144,
145,
146,
147,
148,
149,
150,
151,
152,
153,
154,
155,
156,
157,
158,
159,
160,
161,
162,
163,
164,
165,
166,
167,
168,
169,
170,
171,
172,
173,
174,
175,
176,
177,
178,
179,
180,
181,
182,
183,
184,
185,
186,
187,
188,
189,
190,
191,
192,
193,
194,
195,
196,
197,
198,
199,
200,

**Exemplo 7:** Dado um nÃºmero inteiro positivo n, imprimir todos os nÃºmeros pares entre 0 e n. Imprima tambÃ©m a quantidade de nÃºmeros pares identificados.

In [8]:
n = int(input("Digite o valor de n: "))

qtdPar = 0
numAtual = 0
while numAtual <= n:
    if numAtual % 2 == 0:
        print("NÃºmero par: " + str(numAtual))
        qtdPar += 1
    numAtual += 1

print("Quantidade de nÂ° pares: " + str(qtdPar))

Digite o valor de n: 12
NÃºmero par: 0
NÃºmero par: 2
NÃºmero par: 4
NÃºmero par: 6
NÃºmero par: 8
NÃºmero par: 10
NÃºmero par: 12
Quantidade de nÂ° pares: 7